.navbar {
    background-color:rgb(255, 166, 0);
    border-bottom: 3px solid white;
   
}

a.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
}