<header class="main-header">
  <h1><span></span></h1>
  <p></p>
  <img src="../assets/last.png" alt="">
</header>
<main class="container">
  <section class="card">
    <img src="../assets/img.png" alt="">
    <div>
      <h3>About us</h3>
      <p> A significant percentage of people use trains as their mode of transportation daily. Therefore even a little 
        delay  of both trains and people is highly effective for the whole system of the country. Most of the time trains are
         not punctual due to reasons like technical issues and  accidents during their journey. On such occasions people 
         will not be able to clearly decide whether they should wait for the train until it arrives or choose an
          alternative travelling method.</p>
      <a href="#" class="btn">Buy Now</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="../assets/img.png" alt="">
    <div>
      <h3>Mobile App</h3>
      <p> A significant percentage of people use trains as their mode of transportation daily. Therefore even a little 
        delay  of both trains and people is highly effective for the whole system of the country. Most of the time trains are
         not punctual due to reasons like technical issues and  accidents during their journey. On such occasions people 
         will not be able to clearly decide whether they should wait for the train until it arrives or choose an
          alternative travelling method. Because there is no proper method to validate where the train is or what caused
           it to delay and how long it will take to arrive. So at the end most of the people wait on the railway stations by wasting their time</p>
      <a href="#" class="btn">Buy Now</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="../assets/img.png" alt="">
    <div>
      <h3>Mobile App</h3>
      <p> A significant percentage of people use trains as their mode of transportation daily. Therefore even a little 
        delay  of both trains and people is highly effective for the whole system of the country. Most of the time trains are
         not punctual due to reasons like technical issues and  accidents during their journey. On such occasions people 
         will not be able to clearly decide whether they should wait for the train until it arrives or choose an
          alternative travelling method. Because there is no proper method to validate where the train is or what caused
           it to delay and how long it will take to arrive. So at the end most of the people wait on the railway stations by wasting their time</p>
      <a href="#" class="btn">Buy Now</a>
    </div>
  </section>

  <section class="card" data-aos="fade-left">
    <img src="../assets/img.png" alt="">
    <div>
      <h3>Mobile App</h3>
      <p> A significant percentage of people use trains as their mode of transportation daily. Therefore even a little 
        delay  of both trains and people is highly effective for the whole system of the country. Most of the time trains are
         not punctual due to reasons like technical issues and  accidents during their journey. On such occasions people 
         will not be able to clearly decide whether they should wait for the train until it arrives or choose an
          alternative travelling method. Because there is no proper method to validate where the train is or what caused
           it to delay and how long it will take to arrive. So at the end most of the people wait on the railway stations by wasting their time</p>
      <a href="#" class="btn">Buy Now</a>
    </div>
  </section>

  <section class="card" data-aos="fade-right">
    <img src="../assets/img.png" alt="">
    <div>
      <h3>Mobile App</h3>
      <p> A significant percentage of people use trains as their mode of transportation daily. Therefore even a little 
        delay  of both trains and people is highly effective for the whole system of the country. Most of the time trains are
         not punctual due to reasons like technical issues and  accidents during their journey. On such occasions people 
         will not be able to clearly decide whether they should wait for the train until it arrives or choose an
          alternative travelling method. Because there is no proper method to validate where the train is or what caused
           it to delay and how long it will take to arrive. So at the end most of the people wait on the railway stations by wasting their time</p>
      <a href="#" class="btn">Buy Now</a>
    </div>
  </section>
</main>