<app-nave-bar></app-nave-bar>

<header class="main-header"></header>
<main class="container">
 
  <section class="card" data-aos="fade-right">
   <div class="row">
     <div class="col-8">
      <img class="img1" src="../assets/kk.png">
      <div class="para">
        <h3>
          "Kochchiya-Ko" is a Mobile based platform,<br>
          where you can track the location of trains in real time.
        </h3>
        <h2>Get It Now!</h2>
        <img class="icon" src="../assets/icon.png ">
      </div>
    </div>
    <div class="col">
      <img  class="img2 float-right " src="../assets/phone.png" >  
   </div>
    </div> 
  </section>
 </main>
<app-footer></app-footer>